<div>
  <div class="ui grid">
    <div class="two column row">
    <div class="column">
      <form id="form" class="ui form">
        <input type="hidden" name="id" value="new" />
        <div class="field">
          <label>Nome</label>
          <input type="text" name="name" placeholder="Nome">
        </div>
        <div class="field">
          <label>E-mail</label>
          <input type="email" name="email" placeholder="E-mail">
        </div>
        <div class="field">
          <label>Telefone</label>
          <input type="text" name="phone" placeholder="Telefone">
        </div>
        <div class="field">
          <label>Assunto</label>
          <input type="text" name="assunto" placeholder="Assunto">
        </div>
        <div class="field">
          <label>Mensagem</label>
          <textarea type="text" name="mensagem" placeholder=""></textarea>
        </div>
        <button class="ui primary submit button" type="submit">Enviar</button>
        
        <div class="ui error message"></div>
      </form>
    </div>
    <div class="column" id="old-forms">
      
    </div>
  </div>
  </div>
</div>